.profile-doctor-container {
    .intro-doctor {
        display: flex;
        // height: 100px;
        // padding: 35px;
        // margin-top: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: rgb(232, 232, 232);

        .content-left {
            // width: 20%;
            // border: 1px solid black;
            // display: block;
            text-align: center;
            // flex-direction: column;

            .image-doctor {
                width: 120px;
                height: 120px;
                background: center center no-repeat;
                border-radius: 50%;
                /* text-align: center; */
                // border: solid 1px green;
                justify-content: center;
                display: inline-block;
                margin: 10px;
                border: solid 1px #fff;
            }
        }

        .content-right {
            width: 80%;
            // border: 1px solid gray;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                padding-top: 10px;
                font-size: 20px;
                // font-weight: 600;
            }

            .down {
                padding-top: 10px;
                // font-size: 15px;
                // font-weight: 500;
            }
        }
    }
}